* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #dcf2ed;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #20484f;
}

.navcenter{
    min-width: 168.8px;
    display: flex;
    justify-content: center;
}

.navright{
    min-width: 67.5px;
    display: flex;
    justify-content: right;    
}

.nav .menu{
    position: fixed;
    font-size: 30px;
    color: white;
}

.nav a{
    text-decoration: none;
    color: white;
}


/* 본문 버튼 CSS */

.content{
    position: relative;
    display: flex;
    justify-content: center;
    top: 50px;
    width: 100%;
    height: 100%;
}

.menu-button{
    width: 1200px;
    min-width: 1000px;
    min-height: 700px;
    height: 800px;
}

.row1, .row2{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 90%;
    min-height: 300px;
}

button{
    border: none;
    height: 40vh;
    width: 40vw;
    border-radius: 8px;
    margin: 10px;
    background: white;
    transition: box-shadow 250ms ease-in;
    transition: transform 250ms ease-in;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.num1{
    width: 60%;
}
.num2{
    width: 40%;
}
.num3, .num4{
    width: 33%;
}

.num5{
    width: 33%;
}
strong, p{
    word-break: break-all;
}

.num1 strong{
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 1.5em;
}

.num1 .words{
    position: absolute;
    text-align: right;
    right: 20px;
    font-size: 16px;
}

.num2 strong{
    font-size: 40px;
}
.num3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.num3 strong{
    font-size: 35px;
    margin-bottom: 30px;
}
.num3 p{
    font-size: 16px;
    margin-bottom: 30px;
}

.num4 strong{
    /* position: absolute;
    right: 30px;
    top: 30px; */
    font-size: 40px;
}
.num5 strong{
    /* position: absolute;
    right: 30px;
    top: 30px; */
    font-size: 40px;
}

button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 13px 10px 15px rgba(0, 0, 0, 0.15);
    transform: translate(-2px, -2px);
    overflow: hidden;
}



/* @media screen and (max-width: 900px) {
    button{
        width: 500px;
        height: 300px;
    }
} */