* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #dcf2ed;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #20484f;
}

.navcenter{
    min-width: 168.8px;
    display: flex;
    justify-content: center;
}

.navright{
    min-width: 67.5px;
    display: flex;
    justify-content: right;    
}

.nav .menu{
    position: fixed;
    font-size: 30px;
    color: white;
}

.nav a{
    text-decoration: none;
    color: white;
}

/* solution group css */
.comback-btn{
    position: relative
    ;
    width: 50%;
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    height: auto;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 24px;
}

.container{
    margin: 40px auto;
    /* max-width: 100%; */
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solutions-group{
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: #fff;
    min-width: 500px;
    max-width: 850px;
    height: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.user-icon-div{
    float: right;
    display: flex;
    align-items: center;
    width: 100%;
}

.solution-btn{
    display: flex;
    justify-content: end;
    align-items: center;
    width: auto;
    float: right;
}

.solution-info{
    width: 100%;
    display: flex;
    align-items: center;
    /* padding: 3px; */
    margin-bottom: 10px;
    padding: 3px;
}

.solution{
    width: 100%;
    min-height: 50px;
    background-color: #263747;
    border-radius: 8px;
    color: white;
    padding: 10px;
}

.adjust-solution{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin-bottom: 8px;
}

.like{
    width: auto;
    margin-right: 5px;
}

.buttons{
    width: 100%;
}

.adj-btn, .del-btn{
    background-color: #20484f;
    border: none;
    border-radius: 8px;
    width: 70px;
    color: white;
    cursor: pointer;
    height: 100%;
    word-break: keep-all;
}

.adj-btn{
    margin-right: 5px;
}

.like-btn{
    background-color: #20484f;
    border: none;
    border-radius: 8px;
    width: 100%;
    color: white;
    cursor: pointer;
    height: 100%;
    word-break: keep-all;
    margin-right: 5px;
}

.like-count{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #20484f;
    width: auto;
    border-radius: 0 8px 8px 0;
    word-break: keep-all;
    vertical-align: middle;
    font-size: 10px;
}

ul{
    list-style: none;
    padding: 0;
    padding-top: 12px;
    padding-left: 3px;
}

.comment-form{
    display: flex;
}

.comment-write{
    width: 100%;
    height: 30px;
    background-color: white;
    /* border: none; */
    border-radius: 8px 0 0 8px;
    list-style: none;
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.616);
    border-right: none;
}

.comment-write:focus{
    border: 0.3px solid #20484f;
    border-right: none;
}
.user-info{
    font-size: 12px;
    text-align: center;
}
.comment-item{
    display: flex;
    margin-bottom: 8px;
}

.user-icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.comment-body{
    display: inline-flex;
    width: 100%;
}
.comment-body *{
    word-wrap: break-word;
    word-break: keep-all;
}

h6{
    font-size: 12px;
    margin: 0.1rem;
    color: lightslategrey;
}
.comments .comment-item .comment-head{
    display: inline;
}

.register-btn{
    width: 50px;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #20484f;
    color: white;
    text-align: center;
}