
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Signup</title>
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
</head>
<script>
  function check_pw(){

      var pw = document.getElementById('pw').value;
      var SC = ["!","@","#","$","%"];
      var check_SC = 0;

      if(pw.length < 6 || pw.length>16){
          window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
          document.getElementById('pw').value='';
      }
      for(var i=0;i<SC.length;i++){
          if(pw.indexOf(SC[i]) != -1){
              check_SC = 1;
          }
      }
      if(check_SC == 0){
          window.alert('!,@,#,$,% 의 특수문자가 들어가 있지 않습니다.')
          document.getElementById('pw').value='';
      }
      if(document.getElementById('pw').value !='' && document.getElementById('pw2').value!=''){
          if(document.getElementById('pw').value==document.getElementById('pw2').value){
              document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
              document.getElementById('check').style.color='blue';
          }
          else{
              document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
              document.getElementById('check').style.color='red';
          }
      }
  }
</script>

<body>
  <header>
  </header>

  <nav>
      <h1>
          <a href="{%url 'member:main' %}">Code With US!</a>
      </h1>
  </nav>

<main class="form-signup">
  <form method="post">
    {% csrf_token %}
    <div class="login-title">
    <h1 class>스터디 계정 생성</h1>
    </div>

    <div class="id">
      <h4>이름</h4>
    </div>
    <input type="name" id="floatingName" placeholder="Enter your name", om name="member_name">
    
    <div class="id">
      <h4>아이디</h4>
    </div>
    <input type="email" id="floatingInput" placeholder="Your@mail.com" name="member_email">

    <div class="password">
      <h4>비밀번호</h4>
    </div>
    <input type="password" id="pw" placeholder="Enter password" onchange="check_pw()" name="member_password">
    
    <div class="password">
      <h4>비밀번호 확인</h4>
    </div>
    <input type="password" id="pw2" placeholder="Check password" onchange="check_pw()"  name="check_pw" >
    <div><span id="check"></span></div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="agree"> 해당 정보 공유를 동의합니다.
      </label>
    </div>

    {% if messages %}
    <div>
      {% for message in messages %}
      <span style="color:red">{{ message.tags }}! {{ message.message }}</span><br>
      {% endfor %}
    </div>
    {% endif %}

    <button class="submit-btn" type="submit" onclick="location.href ='{%url 'member:login' %}';">스터디 가입하기</button>
    
    <div class="bottomText">
      이미 회원이신가요? <a href="#">로그인하기</a>
    </div>
  </form>
</main>
</body>

</html>