{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<link rel="stylesheet" href="{% static 'css/problem_upload.css' %}">
<script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
<style>
    .ck-editor__editable {
        min-height: 300px;
    }
</style>
</head>

<body>
    <nav>
        <div class="hamburger" style="float:left;width:33%">

        </div>
        <div class="navcenter" style="float:center;width:33%">
            <h1>
                <a href="{%url 'member:main' %}">Code With US!</a>
            </h1>
        </div>
        {% if request.session.member_name %}
        <div class="navright" style="float:right;width:33%">
            <div style="float:left;width:80%">
                <a class = navright >{{ request.session.member_name }} 님 반갑습니다.</a>
            </div>
            <div style="float:right;width:20%">
                <a class = navright href="{%url 'member:logout' %}">로그아웃</a>
            </div>    
        </div>
        {% else %}
        <div class="navright" style="float:right;width:33%">
            <div style="float:left;width:80%">
                <a class = navright href="{%url 'member:login' %}">로그인</a>
            </div>
            <div style="float:right;width:20%">
                <a class = navright href="{%url 'member:signup' %}">회원가입</a>
            </div>    
        </div>
        {% endif %}
        

    </nav>
    <div class="container">
        <h3>오늘의 문제 올리기</h3>
        <form action="{% url 'solve:problem_upload'%}" name="frm_pw" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">문제제목</label>
                <input type="text" name="subject" class="form-control" placeholder="제목을 입력하세요">
            </div>
            <label for="tag">tag</label>
            <div>
                <select name="algorithm_tag">
                    <option value="13">=== 알고리즘선택 ===</option>
                    <option value=1>binary</option>
                    <option value=2>brute force</option>
                    <option value=3>bfs</option>
                    <option value=4>dfs</option>
                    <option value=5>dynamic programming</option>
                    <option value=6>graph</option>
                    <option value=7>greedy</option>  
                    <option value=8>hash</option>
                    <option value=9>heap</option>
                    <option value=10>sort</option>
                    <option value=11>stack</option>
                    <option value=12>queue</option>
                    <option value=13>etc</option>
                </select>
                <input type="file" name="image" value="파일첨부" multiple>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea name="contents" id="editor" class="form-control" ></textarea>
                <script>
                    ClassicEditor
                        .create(document.querySelector('#editor'), {
                            language: { ui: 'ko', content: 'ko' }
                        })
                        .catch(error => {
                            console.error(error);
                        })
                </script>
            </div>
            <button type="submit" class="btn btn-primary" style="float:right">등록 </button>
        </form>
    </div>
</body>

</html>