{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>solutions</title>
    <link rel="stylesheet" href="{% static 'css/solutions.css' %}">
</head>

<body>
    <nav class="nav">
        <div class="hamburger" style="float:left;width:33%"></div>
        <div class="navcenter" style="float:center;width:33%">
            <h1>
                <a href="#">Code With US!</a>
            </h1>
        </div>
        <div class="navright" style="float:right;width:33%">
            <div style="float:left;width:80%">
                <a class=navright href="#">로그인</a>
            </div>
            <div style="float:right;width:20%">
                <a class=navright href="#">회원가입</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="comback">
            <!-- <button class="comback-btn">문제로 돌아가기</button> -->
        </div>
        {% for i in socm %}
        <div class="solutions-group">
            <div class="solution-info">
                <div class="user-icon-div">
                    <img class="user-icon" src="{% static 'css/user.jpg' %}" alt="user icon">
                    <strong>{{i.member_no__member_name}} / {{i.sol_no}}</strong>
                </div>
                <div class="solution-btn">
                    <button class="like-btn" value="">좋아요 {{i.count}}개</button>
                    <button class="adj-btn"
                        onclick="location.href='/solve/today_exam/update_exam{{i.sol_no}}/';">수정</button>
                    <button class="del-btn">삭제</button>
                </div>
            </div>
            <div class="solution">
                <p>{{i.sol_detail}}</p>
            </div>

            <ul class="comments">
                <li class="comment-item">
                    <div class="comment-head">
                        <img class="user-icon" src="{% static 'css/user.jpg' %}" alt="user icon">
                    </div>
                    <div class="comment-body">
                        <p class="comment-text">{{i.cmt_rel_sol_no__comment_detail}}</p>
                        <h6>{{i.cmt_rel_sol_no__member_no__member_name}}</h6>
                    </div>
                </li>
                <li class="commemt-line">
                    <form class="comment-create" method="post">
                        <div class="comment-form">
                            <input type="text" class="comment-write" placeholder="댓글을 입력하세요"></input>
                            <input type="submit" class="register-btn" value="등록">
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
</body>

</html>